# Chapter 4 - Discounted Cash Flow Valuation

**Selected Exercises**

Corporate Finance 9th International Edition

Ross, Westerfield, Jaffe

In [1]:
import pandas as pd

# Lets define some functions so we can reuse them later.

def future_value_simple(amount, rate, periods):
    """Returns future value with simple interest"""
    return f'{amount + (amount * interest_rate) * periods:,.2f}'

def future_value_compounded(amount, rate, periods):
    """Returns future value with compounding interest"""
    return f'{amount * (1 + rate) ** periods:,.2f}'

**1. Simple vs Compound Interest** - First City Bank pays 9 percent simple interest on its savings account balances, whereas Second City Bank pays 9 percent interest compounded annually.  If you made a a 5,000 deposit in each bank, how much more money would you earn from your Second City Bank account at the end of 10 years?

In [2]:
interest_rate = .09
deposit = 5000
periods = 10

First_Bank = future_value_simple(deposit, interest_rate, periods)
Second_Bank = future_value_compounded(deposit, interest_rate, periods)

df = pd.DataFrame([[First_Bank, Second_Bank]],
                 columns = ("First Bank","Second Bank"))

df

  First Bank Second Bank
0   9,500.00   11,836.82

**2. Calculating Future Values** - Compute the future value of 1,000 compounded annually for: 

* a. 10 years at 6 percent
* b. 10 years at 9 percent
* c. 20 years at 6 percent

In [3]:
df = pd.DataFrame([[1000, 10, .06],
                    [1000, 10, .09],
                    [1000, 20, .06]],
                    columns=("Amount", "Periods", "Rate"))

df['Answer'] = df.apply(lambda row: future_value_compounded(row['Amount'], row['Rate'], row['Periods']), axis=1)

df

   Amount  Periods  Rate    Answer
0    1000       10  0.06  1,790.85
1    1000       10  0.09  2,367.36
2    1000       20  0.06  3,207.14