# Chapter 4 - Discounted Cash Flow Valuation

**Selected Exercises**

Corporate Finance 9th International Edition

Ross, Westerfield, Jaffe

In [42]:
import warnings
import pandas as pd
import numpy_financial as npf
# Lets define some functions so we can reuse them later.

def present_value_amount(amount, rate, periods):
    """Returns the present value of $1"""
    pv_fact = 1 / (1 + rate)**(periods)
    
    return pv_fact * amount


def future_value_simple(amount, rate, periods):
    """Returns future value with simple interest"""
    
    return f'{amount + (amount * interest_rate) * periods:,.2f}'

def future_value_compounded(amount, rate, periods):
    """Returns future value with compounding interest"""
    
    return f'{amount * (1 + rate) ** periods:,.2f}'

**1. Simple vs Compound Interest** - First City Bank pays 9 percent simple interest on its savings account balances, whereas Second City Bank pays 9 percent interest compounded annually.  If you made a a 5,000 deposit in each bank, how much more money would you earn from your Second City Bank account at the end of 10 years?

In [18]:
interest_rate = .09
deposit = 5000
periods = 10

First_Bank = future_value_simple(deposit, interest_rate, periods)
Second_Bank = future_value_compounded(deposit, interest_rate, periods)

df = pd.DataFrame([[First_Bank, Second_Bank]],
                 columns = ("First Bank","Second Bank"))

df = df.style.set_properties(**{'text-align': 'center'})
df

**2. Calculating Future Values** - Compute the future value of 1,000 compounded annually for: 

* a. 10 years at 6 percent
* b. 10 years at 9 percent
* c. 20 years at 6 percent

In [19]:
#Read data
df = pd.DataFrame([[1000, 10, .06],
                    [1000, 10, .09],
                    [1000, 20, .06]],
                    columns=("Amount", "Periods", "Rate"))

#Apply Future Value function
df['Answer'] = df.apply(lambda row: future_value_compounded(row['Amount'], row['Rate'], row['Periods']), axis=1)

#Format Data Frame Style
df['Amount'] = df['Amount'].map('{:,.0f}'.format)
df['Rate'] = df['Rate'].map('{:.2%}'.format)
df = df.style.set_properties(**{'text-align': 'center'})
df

**3. Calculating Present Values** - For each of the following compute the present value:

In [ ]:
"""
Years    Rate    Future Value
  6       7%        15,451
  9       15%       51,557
  18      11%      886,073
  23      18%      550,164
"""

In [17]:
#Read data
df = pd.DataFrame([[15541, 6, .07], 
                  [51557, 9, .15],
                  [886076, 18, .11],
                   [550164, 23, .18]],
                 columns = ("Future_Value", "Years", "Rate"))

#Apply Present Value function
df['Present_Value'] = df.apply(lambda row: present_value_amount(row['Future_Value'], row['Rate'], row['Years']), axis=1)

#Format Data Frame Style
df['Future_Value'] = df['Future_Value'].map('{:,.0f}'.format)
df['Present_Value'] = df['Present_Value'].map('{:,.0f}'.format)
df['Rate'] = df['Rate'].map('{:.2%}'.format)
df = df.style.set_properties(**{'text-align': 'center'})
df

**4. Calculating Interest Rates** - Solve for the unknown interest rate in each of the following:

In [ ]:
"""
Years    Present_Value    Future Value
  2            242           307
  9            410           896
 15           51,700       162,181
 30           18,750       483,500
"""

In [32]:
#Read data
df = pd.DataFrame([[2, -242, 307],
                  [9, -410, 896],
                  [15, -51700, 162181],
                  [30, -18750, 483500]],
                 columns = ("Years", "Present_Value", "Future_Value"))

# Solve for the interest rate
df["Rate"] = df.apply(lambda row: npf.rate(row["Years"], 0, row["Present_Value"], row["Future_Value"]), axis=1)

#Format Data Frame Style
df['Future_Value'] = df['Future_Value'].map('{:,.0f}'.format)
df['Present_Value'] = df['Present_Value'].map('{:,.0f}'.format)
df['Rate'] = df['Rate'].map('{:.2%}'.format)
df = df.style.set_properties(**{'text-align': 'center'})
df

**5. Calculating the Number of Periods** - Solve for the unknown number of years in each of the following:

In [ ]:
"""
Present Value    Interest Rate    Future Value     
     625              6%              1,284
     810              13%             4,341
    18,400            32%            402,662
    21,500            16%            173,439
"""

In [43]:
warnings.filterwarnings("ignore", category=RuntimeWarning)

# Read Data
df = pd.DataFrame([[-625, .06, 1284],
                  [-810, .13, 4341],
                  [-18400, .32, 402662],
                  [-21500, .16, 173439]],
                 columns = ("Present_Value", "Rate", "Future_Value"))

#Solve for the years
df["Years"] = df.apply(lambda row: npf.nper(row["Rate"], 0, row["Present_Value"], row["Future_Value"]), axis=1)

#Format Data Frame Style
df['Future_Value'] = df['Future_Value'].map('{:,.0f}'.format)
df['Present_Value'] = df['Present_Value'].map('{:,.0f}'.format)
df['Years'] = df['Years'].map('{:,.2f}'.format)
df['Rate'] = df['Rate'].map('{:.2%}'.format)
df = df.style.set_properties(**{'text-align': 'center'})
df

**7. Calculating Present Values** - Imprudential Inc., has an unfunded pension liability of 750 million that must be paid in 20 years.  To assess the value of the firm's stock, financial analysts want to discount this liability back to the present.  If the relevant discount rate is 8.2 percent, what is the present value of this liability.

In [48]:
#Given
liability = 750000000
years = 20
rate = .082

#The present value function was defined at the beginning of the file.
present_value = present_value_amount(liability, rate, years)

answer = f'The present value of the liability is ${present_value:,.2f}'
answer

'The present value of the liability is $155,065,808.54'