# Chapter 4 - Discounted Cash Flow Valuation

**Selected Exercises**

Corporate Finance 9th International Edition

Ross, Westerfield, Jaffe

In [1]:
import warnings
import pandas as pd
import numpy_financial as npf

# Lets define some functions so we can reuse them later.

def present_value_amount(amount, rate, periods):
    """Returns the present value of $1"""
    pv_fact = 1 / (1 + rate)**(periods)
    
    return pv_fact * amount

def annuityPVFactor(payment, rate, periods):
    """Return the Present Value Factor of an Ordinary Annuity"""
    
    annPVFactor = (1 - (1/(1 + rate)**periods)) / rate
    
    return annPVFactor * payment

def future_value_simple(amount, rate, periods):
    """Returns future value with simple interest"""
    
    return f'{amount + (amount * interest_rate) * periods:,.2f}'

def future_value_compounded(amount, rate, periods):
    """Returns future value with compounding interest"""
    
    return f'{amount * (1 + rate) ** periods:,.2f}'

def perpetuity(pmt, rate):
    """Return the value of a constant perpetuity"""
    
    return pmt / rate

def continuousFV(present_value, rate, years):
    """Returns the Future Value using continuous compounding"""
    
    e = 2.718
    contFV = present_value * (e ** (rate * years))
    
    return contFV

def higher_pv(x, y):
    """Evaluates which investment is higher"""
    
    if x > y:
        return "X"
    else:
        return "Y"

**1. Simple vs Compound Interest** - First City Bank pays 9 percent simple interest on its savings account balances, whereas Second City Bank pays 9 percent interest compounded annually.  If you made a a 5,000 deposit in each bank, how much more money would you earn from your Second City Bank account at the end of 10 years?

In [18]:
interest_rate = .09
deposit = 5000
periods = 10

First_Bank = future_value_simple(deposit, interest_rate, periods)
Second_Bank = future_value_compounded(deposit, interest_rate, periods)

df = pd.DataFrame([[First_Bank, Second_Bank]],
                 columns = ("First Bank","Second Bank"))

df = df.style.set_properties(**{'text-align': 'center'})
df

**2. Calculating Future Values** - Compute the future value of 1,000 compounded annually for: 

* a. 10 years at 6 percent
* b. 10 years at 9 percent
* c. 20 years at 6 percent

In [19]:
#Read data
df = pd.DataFrame([[1000, 10, .06],
                    [1000, 10, .09],
                    [1000, 20, .06]],
                    columns=("Amount", "Periods", "Rate"))

#Apply Future Value function
df['Answer'] = df.apply(lambda row: future_value_compounded(row['Amount'], row['Rate'], row['Periods']), axis=1)

#Format Data Frame Style
df['Amount'] = df['Amount'].map('{:,.0f}'.format)
df['Rate'] = df['Rate'].map('{:.2%}'.format)
df = df.style.set_properties(**{'text-align': 'center'})
df

**3. Calculating Present Values** - For each of the following compute the present value:

In [ ]:
"""
Years    Rate    Future Value
  6       7%        15,451
  9       15%       51,557
  18      11%      886,073
  23      18%      550,164
"""

In [91]:
#Read data
df = pd.DataFrame([[15541, 6, .07], 
                  [51557, 9, .15],
                  [886076, 18, .11],
                   [550164, 23, .18]],
                 columns = ("Future_Value", "Years", "Rate"))

#Apply Present Value function
df['Answer'] = df.apply(lambda row: present_value_amount(row['Future_Value'], row['Rate'], row['Years']), axis=1)

#Format Data Frame Style
df['Future_Value'] = df['Future_Value'].map('{:,.0f}'.format)
df['Answer'] = df['Answer'].map('{:,.0f}'.format)
df['Rate'] = df['Rate'].map('{:.2%}'.format)
df = df.style.set_properties(**{'text-align': 'center'})
df

**4. Calculating Interest Rates** - Solve for the unknown interest rate in each of the following:

In [ ]:
"""
Years    Present_Value    Future Value
  2            242           307
  9            410           896
 15           51,700       162,181
 30           18,750       483,500
"""

In [92]:
#Read data
df = pd.DataFrame([[2, -242, 307],
                  [9, -410, 896],
                  [15, -51700, 162181],
                  [30, -18750, 483500]],
                 columns = ("Years", "Present_Value", "Future_Value"))

# Solve for the interest rate
df["Answer"] = df.apply(lambda row: npf.rate(row["Years"], 0, \
                row["Present_Value"], row["Future_Value"]), axis=1)

#Format Data Frame Style
df['Future_Value'] = df['Future_Value'].map('{:,.0f}'.format)
df['Present_Value'] = df['Present_Value'].map('{:,.0f}'.format)
df['Answer'] = df['Answer'].map('{:.2%}'.format)
df = df.style.set_properties(**{'text-align': 'center'})
df

**5. Calculating the Number of Periods** - Solve for the unknown number of years in each of the following:

In [ ]:
"""
Present Value    Interest Rate    Future Value     
     625              6%              1,284
     810              13%             4,341
    18,400            32%            402,662
    21,500            16%            173,439
"""

In [93]:
warnings.filterwarnings("ignore", category=RuntimeWarning)

# Read Data
df = pd.DataFrame([[-625, .06, 1284],
                  [-810, .13, 4341],
                  [-18400, .32, 402662],
                  [-21500, .16, 173439]],
                 columns = ("Present_Value", "Rate", "Future_Value"))

#Solve for the years
df["Answer"] = df.apply(lambda row: npf.nper(row["Rate"], 0, \
                row["Present_Value"], row["Future_Value"]), axis=1)

#Format Data Frame Style
df['Future_Value'] = df['Future_Value'].map('{:,.0f}'.format)
df['Present_Value'] = df['Present_Value'].map('{:,.0f}'.format)
df['Answer'] = df['Answer'].map('{:,.2f}'.format)
df['Rate'] = df['Rate'].map('{:.2%}'.format)
df = df.style.set_properties(**{'text-align': 'center'})
df

**7. Calculating Present Values** - Imprudential Inc., has an unfunded pension liability of 750 million that must be paid in 20 years.  To assess the value of the firm's stock, financial analysts want to discount this liability back to the present.  If the relevant discount rate is 8.2 percent, what is the present value of this liability.

In [49]:
#Given
liability = 750000000
years = 20
rate = 8.2

#The present value function was defined at the beginning of the file.
present_value = present_value_amount(liability, rate / 100, years)

answer = f'The present value of the liability is ${present_value:,.2f}'
answer

'The present value of the liability is $155,065,808.54'

**8. Calculating Rates of Return** - Although applealing to more refined tastes, art as a collectible has not always performed so profitably.  During 2003, Sotheby's sold the Edgar Degas bronze sculpture *Petite Danseuse de Quartorze Ans* at auction for a price of 10,311,500.  Unfortunately for the previous owner, he had purchased it in 1999 at a price of 12,377,500. What was his annual rate of return on this sculpture?

In [8]:
# Given
years = 2003 - 1999
present_value = -12377500
future_value = 10311500

#We need to solve for rate:
rate = npf.rate(years, 0, present_value, future_value) * 100

answer = f'His annual rate of return on the sale of the sculpture was {rate:.2f}%'
answer

'His annual rate of return on the sale of the sculpture was -4.46%'

**9. Perpetuities** - An investor purchasing a British consol is entitled to receive annual payments from the British government forever.  What is the price of a consol that pays 120 annually if the next payment occurs one year from today?  The market interest is rate is 5.7 percent.

In [14]:
#Given
payments = 120
rate = 5.7

#We use the perpetuity function defined at the beginning
price = perpetuity(payments, rate / 100)

answer = f'The price of the console is {price:,.2f}'
answer

'The price of the console is 2,105.26'

**10. Continuous Compounding** - Compute the future value fo 1,900 continuously compounded for:

* a. 5 years at a stated annual interest rate of 12 percent.
* b. 3 years at a stated annual interest rate of 10 percent.
* c. 10 years at a stated annual interest rate of 5 percent.
* d. 8 years at a stated annual interest rate of 7 percent.

In [95]:
# Read data
df = pd.DataFrame([[1900, 5, .12],
                   [1900, 3, .10],
                   [1900, 10, .05],
                   [1900, 8, .07]],
                 columns = ("Present_Value", "Years", "Rate"))

# Compute values using function defined earlier.
df['Answer'] = df.apply(lambda row: continuousFV(row['Present_Value'], \
                    row['Rate'], row['Years']), axis=1)

#Format Data Frame Style
df['Answer'] = df['Answer'].map('{:,.0f}'.format)
df['Present_Value'] = df['Present_Value'].map('{:,.0f}'.format)
df['Rate'] = df['Rate'].map('{:.2%}'.format)
df = df.style.set_properties(**{'text-align': 'center'})
df

**11. Present Value and Multiple Cash Flows** - Conoly Co. has identified an investment project with the following cash flows.  If the discount rate is 10 percent, what is the present value of these cash flows?  What is the value at 18 percent?  At 24 percent?

In [ ]:
"""
Year     Cash Flow
1          $1,200
2             730
3             965
4           1,590
"""

In [63]:
# For this exercise we must find the present value of each cash flow and then
# add them.  Extra work is required to get present values at different rates.

#Given
cash_flows = [1200, 730, 965, 1590]
rates = [.10, .18, .24]

year = 1
results = []

for rate in rates:
    for cash in cash_flows:
        pv = present_value_amount(cash, rate, year)
        results.append(pv)
        year += 1
    year = 1
    
present_values = {"10%" : results[0:4],
                "18%" : results[4:8],
                "24%" : results[8:]}

df = pd.DataFrame(present_values)
df.loc['Answer'] = df.sum()

#Format DataFrame style
df['10%'] = df['10%'].map('{:,.2f}'.format)
df['18%'] = df['18%'].map('{:,.2f}'.format)
df['24%'] = df['24%'].map('{:,.2f}'.format)
df

             10%       18%       24%
0       1,090.91  1,016.95    967.74
1         603.31    524.27    474.77
2         725.02    587.33    506.13
3       1,085.99    820.10    672.53
Answer  3,505.23  2,948.66  2,621.17

**12. Present Value and Multiple Cash Flows** - Investment X offers to pay you 5,500 per year for nine years, whereas Investment Y offers to pay you 8,000 per year for five years.  Which of these cash flows streams has the higher present value if the discount rate is 5 percent? If the discount rae is 22 percent?

In [9]:
rates = [.05, .22]

data = {
    "Rates" : rates,
    "Investment_X" : [annuityPVFactor(5500, x, 9) for x in rates],
    "Investment_Y" : [annuityPVFactor(8000, x, 5) for x in rates]
}


df = pd.DataFrame(data)

df["Higher_PV"] = df.apply(lambda row: higher_pv(row["Investment_X"], \
                row["Investment_Y"]), axis=1)

#Format DataFrame Style
df['Investment_X'] = df['Investment_X'].map('{:,.2f}'.format)
df['Investment_Y'] = df['Investment_Y'].map('{:,.2f}'.format)
df['Rates'] = df['Rates'].map('{:.0%}'.format)
df = df.style.set_properties(**{'text-align': 'center'})

df

**Analysis**

X has a greater PV at 5% but a lower PV at 22%, the reason is that X has greater total cash flows.  At a lower rate total cash flow is more important since the cost of waiting (the interest rate) is not as great.

On the other hand, Y is more valuable at a higher interest rate because it has larger cash flows.  At a higher rate these larger cash flows early are more important since the cost of waiting (the interest rate) is so much greater.

**13. Calculating Annuity Present Value** - An investment offers 4,300 per year for 15 years, with the first payment occurring one year from now.  If the required return is 9 percent, what is the value of the investment?  What would the value be if the payments occurred ofr 40 years? For 75 years? Forever?

In [18]:
payment = 4300
rate = .09

annuities = {
    "15y" : annuityPVFactor(payment, rate, 15),
    "40y" : annuityPVFactor(payment, rate, 40),
    "75y" : annuityPVFactor(payment, rate, 75),
    "Forever" : perpetuity(payment, rate) 
}

df = pd.DataFrame(annuities, index=['Answer'])
df['15y'] = df['15y'].map('{:,.2f}'.format)
df['40y'] = df['40y'].map('{:,.2f}'.format)
df['75y'] = df['75y'].map('{:,.2f}'.format)
df['Forever'] = df['Forever'].map('{:,.2f}'.format)
df = df.style.set_properties(**{'text-align': 'center'})

df

**14. Calculating Perpetuity Values** - The Perpetual Life Insurance Co. is trying to sell you an investment policy that will pay you and you heirs 20,000 per year forever.  

* a. If the required return on this investment is 6.5 percent, how much will you pay for the policy?
* b. Suppose the Perpetual Life Insurance Co. told you the policy costs 340,000.  At what interest rate would this be a fair deal?

In [28]:
#given
payment = 20000
offer = 340000
rate = 6.5

# Lets first find the price of the perpetuity
a = perpetuity(payment, rate/100)

# Lets now find a fair rate for the price been asked.
b = payment / offer

answer = f'Answers:\na. I would pay {a:,.2f} for the perpetuity.\nb. \
{b*100:.2f}% would be a fair deal.'

print(answer)

Answers:
a. I would pay 307,692.31 for the perpetuity.
b. 5.88% would be a fair deal.